@font-face {
    font-family: 'Heebo';
    src: url(../fonts/Heebo-Regular.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url(../fonts/Heebo-Medium.ttf) format(truetype);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url(../fonts/Heebo-Bold.ttf) format(truetype);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url(../fonts/Heebo-Black.ttf) format(truetype);
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: darkgray;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background: lightskyblue;
    border-radius: 5px;
}

.container {
    max-width: 681px;
    margin: 0 auto;
}


/* header */

.header {
    width: 1032px;
    margin: 0 auto;
    padding: 27px 0;
    display: flex;
    justify-content: end;
    gap: 33px;
}

.header__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}

.header__link:hover {
    color: #FF6464;
}


/* main */

.main {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.main__headline {
    width: 500px;
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
    color: #21243D;
}

.main__desc {
    display: flex;
    gap: 17px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #21243D;
}

.main__year {
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 62px;
    height: 25px;
    background: #FF7C7C;
    border-radius: 16px;
}

.main__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.main__img {
    width: 681px;
    height: 460px;
}

.main__card {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.main__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
    color: #21243D;
}

.main__secondly-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 60px;
    color: #21243D;
}

.main__secondly-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}


/* footer */

.footer {
    height: 182px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.footer__content {
    display: flex;
    gap: 35px;
}

.footer__img {
    width: 30px;
    height: 30px;
}

.footer__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #21243D;
}